body {
    background-color: tan;
}

h1 {
    font-size: 48px;
}

h1, h2, .recipes {
    color: peru;
    font-family: Arial, Times, serif;
}

.recipes {
    background-color: coral;
    font-size: 24px;
}

.ingredients, .steps, .desc{
    background-color: white;
}