* {
    box-sizing: content-box;
}

body {
    background-color: rgb(60, 60, 60);
}

h1, h2, .recipes {
    color: #352f36;
    background-color: white;
    font-family: serif, Times, Arial;
    margin: 12px 0;
    font-size: 24px;
    width: fit-content;
}

h1 {
    font-size: 36px;
    padding: 8px;
}

h2 {
    font-size: 24px;
    padding: 8px;
}

.recipes {
    font-size: 24px;
    width: 500px;
}